<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>

    <title>Rate My Apartment</title>
  </head>

  <style>

  </style>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
    	</button>
    	<a class="navbar-brand" href="#">Rate My Apartment</a>
    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
    			<li class="nav-item active">
    				<a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
    			</li>
    		</ul>
    		<form class="form-inline my-2 my-lg-0">
    			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button>
    			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
    		</form>
    	</div>
	   </nav>

    <!--block control statement to define the place where the derived templates can insert themselves-->
    {% block content %}
    {% endblock %}

  </body>
</html>
