{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


<style>
section.test {
    background-image:url("back.jpg");
    background-repeat:no-repeat;  
    background-size:cover; 
    padding-bottom:200px;
}

h1 {
	font-weight: 700;
	text-shadow: 4px 4px 8px gray;
	font-size:60px;
    color:white; 
	padding-top:220px;
	padding-bottom:30px;
	text-align:center; 
}

d-flex justify-content-center {
	padding:100px; 
}

</style>

<section class="test">
    <div class="container">
    	<h1 class="jumbotron-heading">Rate My Apartment</h1>
    		<p class="lead text-muted"></p>
    	<div class="d-flex justify-content-center">
    		<form class="form-inline">
        		<input class="form-control mr-sm-2" type="text" placeholder="Search">
        		<button class="btn btn-outline-success my-2 my-sm-3" type="submit">Search</button>
    		</form>
    	</div>
    </div>
</section> 
    



{% endblock %}