{% extends 'base.html' %}

{% block content %}

<div class="filter">
	<table>
		<tr>
		</tr>
		<tr>
		<input type="text" id="location" onkeyup="myFunction()" 
		placeholder="Search location" title="Type in a name">
		</tr>
		<tr>
		</tr>
	</table>
</div>

<div class="scroll">
	{% set count = [0] %}
		{% for j in range(3): %}
		<div class="card">
	
		{% if len(apartments[count[0]].image) != 0: %}
			<a href="default.asp">
    	    	<img src="{{apartments[count[0]].image[0].url}}" alt="Card">
    	    </a>
		{% else: %}
			<a href="default.asp">
				<img src="{{ url_for('static', filename='image/Noimage.png') }}" alt="Card" style="width:240px">
			</a>
		{% endif %}
			<h4>{{apartments[count[0]].address[0].street}}</h4>
			<h4>${{apartments[count[0]].rentPerMonth}} per month</h4>
		{% if count.append(count.pop() + 1) %}{% endif %}
		</div>
	 {% endfor %}
</div>

{% endblock %}
