{% extends 'base.html' %}

{% block content %}

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<style>
.row mb-3 {
max-width: 800px;
}
.col-md-3 {
max-width: 1000px;
}
card {
max-width: 600px;
}

</style>

	<main class="cd-main-content">
		<div class="cd-tab-filter-wrapper">
			
		</div> <!-- cd-tab-filter-wrapper -->

		<section class="cd-gallery">
			{% set count = [0] %}
			  {% for i in range(rows): %}

					<div class="row mb-3">

						{% for j in range(3): %}
			        {% if count[0] < length: %}

							  <div class="col-md-3">
							    <div class="card">
							      <img class="card-img-top" src="..." alt="Card image cap">
							      <div class="card-block">
							        <h3 class="card-title">{{apartments[count[0]].address[0].street}}</h3>
							        <p class="card-text">${{apartments[count[0]].rentPerMonth}} per month</p>
							        <a href="#" class="btn btn-primary">Go somewhere</a>
											{% if count.append(count.pop() + 1) %}{% endif %}
							      </div>
							    </div>
							  </div>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
				<div class="cd-fail-message">No results found</div>
			</section> <!-- cd-gallery -->

		<div class="cd-filter">
			<form>
				<div class="cd-filter-block">
					<h5>Search</h5>
					
					<div class="cd-filter-content">
						<input type="search" placeholder="Location">
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->
				
				

				<div class="cd-filter-block">
					<h5>Price</h5>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
			    			<label class="checkbox-label" for="checkbox1">&#36;</label>
						</li>

						<li>
							<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
							<label class="checkbox-label" for="checkbox2">&#36;&#36;</label>
						</li>

						<li>
							<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
							<label class="checkbox-label" for="checkbox3">&#36;&#36;&#36;</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
							<label class="checkbox-label" for="checkbox3">&#36;&#36;&#36;</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->
				
				
				<div class="cd-filter-block">
					<h5>Rating</h5>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
			    			<label class="checkbox-label" for="checkbox1">&#9733;&#9733;&#9733;&#9733;&#9733;</label>
						</li>

						<li>
							<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
							<label class="checkbox-label" for="checkbox2">&#9733;&#9733;&#9733;&#9733;</label>
						</li>

						<li>
							<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
							<label class="checkbox-label" for="checkbox3">&#9733;&#9733;&#9733;</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
							<label class="checkbox-label" for="checkbox3">&#9733;&#9733;</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
							<label class="checkbox-label" for="checkbox3">&#9733;</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

			<a href="#0" class="cd-close">Close</a>
		</div> <!-- cd-filter -->

		<a href="#0" class="cd-filter-trigger">Filters</a>
	</main> <!-- cd-main-content -->
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.mixitup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script> <!-- Resource jQuery -->
{% endblock %}
