{% extends 'base.html' %}

{% block content %}

<div class="w3-main w3-white w3-padding" style="max-width:1400px;margin-top:40px">

  <div class="w3-container">
    <h2 class="w3-text-blue-grey">The Apartment</h2>
  </div>
  
  <div class="w3-container">
    <div class="w3-half" style="padding-right:15px;padding-top:10px">
      <div class="w3-container" id="apartment">
        <div class="w3-display-container mySlides">
            <img src="{{ apartment.image[0].url }}" style="width:100%;height:400px;margin-bottom:-6px; border:2px solid lightgrey">
          </div>
          <div class="w3-display-container mySlides">
            <img src="{{ apartment.image[1].url }}" style="width:100%;height:400px;margin-bottom:-6px; border:2px solid lightgrey">
          </div>
          <div class="w3-display-container mySlides">
            <img src="{{ apartment.image[2].url }}" style="width:100%;height:400px;margin-bottom:-6px; border:2px solid lightgrey">
          </div>
        </div>
        
      <div class="w3-row-padding w3-section">
        <div class="w3-col s4">
          <img class="demo w3-opacity w3-hover-opacity-off" src="{{ apartment.image[0].url }}" style="width:100%;height:140px;border:2px solid lightgrey;cursor:pointer" onclick="currentDiv(1)">
        </div>
        <div class="w3-col s4">
          <img class="demo w3-opacity w3-hover-opacity-off" src="{{ apartment.image[1].url }}" style="width:100%;height:140px;border:2px solid lightgrey;cursor:pointer" onclick="currentDiv(2)">
        </div>
        <div class="w3-col s4">
          <img class="demo w3-opacity w3-hover-opacity-off" src="{{ apartment.image[2].url }}" style="width:100%;height:140px;border:2px solid lightgrey;cursor:pointer" onclick="currentDiv(3)">
        </div>
      </div>
    </div>

    <div class="w3-half">
        <section id="google map" style="padding-top:10px">
          <div id="googleMap" style="width:100%;height:558px;border:2px solid lightgrey;"></div>
          <script>
            function myMap() {
              var mapProp= {
                center:new google.maps.LatLng(40.101952, -88.227161),
                zoom:15
              };
              var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
            }
          </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnXrZADZPZ7w-KpKxaCKRsFGaTfMjDffY&callback=myMap"></script>
        </section>
      </div>

  </div>
    
  <div class="w3-container">
    <div class="w3-half" style="padding-left:18px;padding-right:32px">
      <div style="border:1px solid lightgrey;padding:1">
      <h5><strong>The space</strong></h5>
        <div class="w3-row w3-medium">
          <div class="w3-col s6">
            <p><i class="fa fa-fw fa-bath"></i> Bathrooms: 2</p>
          </div>
          <div class="w3-col s6">
            <p><i class="fa fa-fw fa-bed"></i> Bedrooms: 1</p>
          </div>
        </div>
      <hr>
          
      <h5><strong>Amenities</strong></h5>
        <div class="w3-row w3-medium">
          <div class="w3-col s6">
            <p><i class="fa fa-fw fa-shower"></i> Shower</p>
            <p><i class="fa fa-fw fa-wifi"></i> WiFi</p>
            <p><i class="fa fa-fw fa-tv"></i> TV</p>
          </div>
          <div class="w3-col s6">
            <p><i class="fa fa-fw fa-cutlery"></i> Kitchen</p>
            <p><i class="fa fa-fw fa-thermometer"></i> Heating</p>
            <p><i class="fa fa-fw fa-wheelchair"></i> Accessible</p>
          </div>
        </div>
      <hr>
          
      <h5><strong>Extra Info</strong></h5>
        <p>xxx</p>
        <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
      <hr>
      
      <h5><strong>Contact</strong></h5>
        <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
    </div>
  </div>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>

{% endblock %}
