# pycache
__pycache__
RMAapp/__pycache__/
RMAapp/app/__pycache__/

# DS_Store
.DS_Store
RMAapp/.DS_Store
RMAapp/app/.DS_Store
RMAapp/app/templates/.DS_Store


# API key
ZillowAPI.py
RMAapp/ZillowAPI.py
RMAapp/app/ZillowAPI.py

# atom idea
.idea
RMAapp/.idea
