body {
    background: white;
    z-index:1;
}

.container-fluid {
    background: white;
    width: auto;
    position: relative;

}

img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 3px solid black;
    padding: 1px;
    align-self: center;

}

.carousel {
    width:540px;
    height:360px;
    z-index:1;
}

.anothernavbar {
    font-color: black;
}

.panel {
    position: relative;
    border: 1px solid black;
    float: right;
    width: 200px;
    height: 30px;
    margin: 10px;
    text-align: right;
    background-color: slategray;
}

.getting_around {
    font-weight: 200;
}